@model EventosEF.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}


<h1>Você tem certeza que quer deletar isto?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form  asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        <input type="submit" class="cor2" value="Excluir" class="btn btn-danger" /> |
        <a class="cor1"  asp-action="Index">Voltar à lista</a>
    </form>
</div>
