@{
  ViewData["Title"] = "POLÍTICA DE PRIVACIDADE";
}
<h1>@ViewData["Title"]</h1>

<p>
    - A sua privacidade é importante para nós. Coletamos informações pessoais, como nome, e-mail e dados de navegação, para oferecer uma experiência personalizada e melhorar nossos serviços. Seus dados não são vendidos ou compartilhados sem seu consentimento, exceto quando exigido por lei.
    <br />
    - Utilizamos cookies para personalizar conteúdos e analisar o tráfego, e você pode gerenciar as configurações de cookies no seu navegador. Tomamos medidas para proteger suas informações, mas não podemos garantir total segurança na internet.
    <br />
    - Você tem o direito de acessar, corrigir ou excluir seus dados pessoais a qualquer momento. Para mais informações ou dúvidas, entre em contato conosco.
</p>
